/************************** tag selector ***************************/
body{
    background-color:#F0EBCE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
  
  }
hr{
    border-style: dotted none none;
    border-width:medium;
    border-color:#AA8B56;
    border-width: 10px;
    margin:auto;
    margin-top: 40px;
    margin-bottom:40px;
    width: 5%;
    
  }
h2{
    color: #395144;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vw; 
}
h3{
  color: #4E6C50;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4vw; 
}
img{
   margin: auto;
   display: inline-block;
   max-width: 100%;
   height: auto;
}

li { min-height: 30px; padding: 3px 20px; }

p{
    color:grey
}
ul.no-bullets { 
  list-style-type: none;
  margin: 0px; 
  padding: 0px; 
}
/**** navbar***/
.navbar{
  background-color: #AA8B56;
}
/************************** 宝丽来图片部分 ***************************/
div.col-md-6{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 25px;
  width: 450px;
  display: inline-block;
}
div.introduction{
  text-align: center;
  padding: 10px 20px;
  font-size: large;
}

.container{
  text-align: center;
}
/*******************************技能列表部分 ********************************/
.ability-title { 
  display: inline-block; 
  width: 60%; 
  color: grey;
}
.ability-score { 
  float: right; 
  color: #4E6C50;
}
.nav-link{
  color:#F0EBCE;
  font-size:20px;
}

#Abilities{
  margin:50px 50px 0 50px;
}

#myphoto{
  border: #CFB997 solid 10px;
  border-radius:100% ;
}